[defaults]
# Turn off the "Fingerprint" security check
host_key_checking = False

# Turn off the creation of .retry files when jobs fail (keeps folder clean)
retry_files_enabled = False

# Use the "persistent" connection setting (faster for networks)
[persistent_connection]
connect_timeout = 30
command_timeout = 30
